In [1]:
import os 
import pandas as pd

In [2]:
bank_df = pd.read_csv("resources/budget_data.csv")

In [3]:
#find total number of months 
month_total = bank_df["Date"].count()
month_total

86

In [4]:
#find profit/losses total 
net_change = bank_df["Profit/Losses"].sum()
net_change

38382578

In [5]:
#Changing P/L to a list
prof_loss = bank_df["Profit/Losses"].to_list()

In [6]:
total_change = [0]

In [7]:
#Finding the change 
for i in range(1, len(prof_loss)):
    diff = prof_loss[i]-prof_loss[i - 1]
    total_change.append(diff)

In [8]:
new_bank_df = pd.DataFrame(bank_df)
new_bank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [9]:
new_bank_df["Difference"] = total_change

In [10]:
new_bank_df.head()

       Date  Profit/Losses  Difference
0  Jan-2010         867884           0
1  Feb-2010         984655      116771
2  Mar-2010         322013     -662642
3  Apr-2010         -69417     -391430
4  May-2010         310503      379920

In [11]:
#Finding the average change 
average_change = new_bank_df["Difference"].sum() / (month_total-1)

In [12]:
average_change

-2315.1176470588234

In [13]:
#Finding the greatest increase 
increase = new_bank_df["Difference"].max()

In [14]:
increase

1926159

In [15]:
#Finding the greatest decrease
decrease = new_bank_df["Difference"].min()

In [16]:
decrease

-2196167

In [17]:
#Finding the dates for those results 
in_date = new_bank_df.loc[bank_df["Difference"] == increase, "Date"]
in_date

25    Feb-2012
Name: Date, dtype: object

In [18]:
de_date = new_bank_df.loc[bank_df["Difference"] == decrease, "Date"]
de_date

44    Sep-2013
Name: Date, dtype: object

In [19]:
#Creating dictionairies for final analysis ticket 
month = (f"Total Months: {month_total}")
total = (f"Total: ${net_change:,.2f}")
average = (f"Average Change: ${average_change:,.2f}")
increase = (f"Greatest Increase in Profits: {in_date.to_string(index=False)} (${increase:,.2f})")
decrease = (f"Greatest Decrease in Profits: {de_date.to_string(index=False)} (${decrease:,.2f})")

In [20]:
Financial_Analysis = print(month), print(total), print(average), print(increase), print(decrease)

Total Months: 86
Total: $38,382,578.00
Average Change: $-2,315.12
Greatest Increase in Profits: Feb-2012 ($1,926,159.00)
Greatest Decrease in Profits: Sep-2013 ($-2,196,167.00)

In [21]:
#Creating the dataframe from dictionairies
analyzed_bank_df = [
    {"-------------------"},
    {month},
    {total},
    {average},
    {increase},
    {decrease}]

results_ticket = pd.DataFrame(analyzed_bank_df)
results_ticket.columns = ["Financial Analysis"]

In [22]:
#Final results to show 
results_ticket

                                  Financial Analysis
0                                -------------------
1                                   Total Months: 86
2                              Total: $38,382,578.00
3                         Average Change: $-2,315.12
4  Greatest Increase in Profits: Feb-2012 ($1,926...
5  Greatest Decrease in Profits: Sep-2013 ($-2,19...

In [23]:
#Exporting results to text file 
results_ticket.to_csv("analysis/main.txt", index=False)