In [1]:
import os 
import pandas as pd 
import math

In [2]:
poll_df = pd.read_csv("resources/election_data.csv")
poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
#Total number of votes
tot_votes = len(poll_df)
tot_votes

3521001

In [4]:
#Total votes per candidate
count = poll_df["Candidate"].value_counts()
count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [5]:
#All candidates listed
all_candidates = poll_df["Candidate"].unique()
all_candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [6]:
candidate_counts = poll_df["Candidate"].value_counts().to_list()
candidate_counts

[2218231, 704200, 492940, 105630]

In [7]:
analyzed_poll_df = pd.DataFrame(count)
analyzed_poll_df["Candidate"] = all_candidates
analyzed_poll_df["Votes"] = candidate_counts
analyzed_poll_df.head()

         Candidate    Votes
Khan          Khan  2218231
Correy      Correy   704200
Li              Li   492940
O'Tooley  O'Tooley   105630

In [8]:
vote_counter = analyzed_poll_df.loc[analyzed_poll_df["Votes"] == candidate_counts, "Votes"] 
vote_counter

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Votes, dtype: int64

In [9]:
analyzed_poll_df = pd.DataFrame(vote_counter)

In [10]:
#Show % of votes for each candidate 
khanpct =  2218231 / tot_votes
correypct = 704200 / tot_votes
lipct = 492940 / tot_votes
otooleypct = 105630 / tot_votes

In [11]:
#Rounding percentages 
candidate_pct = math.floor(khanpct*100), math.ceil(correypct*100), math.ceil(lipct*100), math.ceil(otooleypct*100)
candidate_pct

(63, 20, 14, 3)

In [12]:
analyzed_poll_df["Percentage"] = candidate_pct
analyzed_poll_df.head()

            Votes  Percentage
Khan      2218231          63
Correy     704200          20
Li         492940          14
O'Tooley   105630           3

In [13]:
#Resetting index for df 
final_df = analyzed_poll_df.rename_axis("Candidate").reset_index()
print(final_df)

  Candidate    Votes  Percentage
0      Khan  2218231          63
1    Correy   704200          20
2        Li   492940          14
3  O'Tooley   105630           3

In [14]:
champ = analyzed_poll_df["Percentage"].max()
champ

63

In [15]:
winner = final_df.loc[final_df['Percentage'] == champ,'Candidate']

In [16]:
#Getting final data for analysis
final_votes = (f"Total Votes: {tot_votes}")
output = final_df
win = (f"Winner: {winner.to_string(index=False)}")
output

  Candidate    Votes  Percentage
0      Khan  2218231          63
1    Correy   704200          20
2        Li   492940          14
3  O'Tooley   105630           3

In [17]:
analysis = final_df.to_string(header=True, index=False)

In [18]:
print(analysis)

Candidate   Votes  Percentage
     Khan 2218231          63
   Correy  704200          20
       Li  492940          14
 O'Tooley  105630           3

In [19]:
#Printing results of analysis 
final_analysis = print("Election Results"), print(final_votes), print(analysis), print(win)

Election Results
Total Votes: 3521001
Candidate   Votes  Percentage
     Khan 2218231          63
   Correy  704200          20
       Li  492940          14
 O'Tooley  105630           3
Winner: Khan

In [20]:
#Formatting final analysis 
ending_output = [
    {"--------------------------------"},
    {final_votes},
    {"--------------------------------"},
    {analysis},
    {"--------------------------------"},
    {win}
     ]
ending_output

[{'--------------------------------'},
 {'Total Votes: 3521001'},
 {'--------------------------------'},
 {"Candidate   Votes  Percentage\n     Khan 2218231          63\n   Correy  704200          20\n       Li  492940          14\n O'Tooley  105630           3"},
 {'--------------------------------'},
 {'Winner: Khan'}]

In [21]:
#Renaming column of final analysis ticket 
analysis_ticket_df = pd.DataFrame(ending_output)
analysis_ticket_df.columns = ["Election Results"]
analysis_ticket_df

                                    Election Results
0                   --------------------------------
1                               Total Votes: 3521001
2                   --------------------------------
3  Candidate   Votes  Percentage\n     Khan 22182...
4                   --------------------------------
5                                       Winner: Khan

In [22]:
#Exporting results to text file 
analysis_ticket_df.to_csv("analysis/main.txt", index=False)