In [171]:
import os 
import pandas as pd

In [172]:
poll_df = pd.read_csv("resources/election_data.csv")
poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [173]:
poll_df.count(axis=0, level=None, numeric_only=False)
total_votes = len(poll_df)
poll_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [174]:
count = poll_df["Candidate"].value_counts()
count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [175]:
khan_pct = 2218231/(len(poll_df))*100
correy_pct = 704200/(len(poll_df))*100
Li_pct = 492940/(len(poll_df))*100
Otooley_pct = 105630/(len(poll_df))*100

In [176]:
pct_list = poll_df["Candidate"].value_counts("Khan")*100
pct_list

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [207]:
print("Election Results",
      "------------------")
print(f"Total Votes: {total_votes}",
      "------------------")
print(f"Khan: %{khan_pct}"), print(poll_df['Candidate'].value_counts()['Khan'])
print(f"Correy: %{correy_pct}"), print(poll_df['Candidate'].value_counts()['Correy'])
print(f"Li: %{Li_pct}"), print(poll_df['Candidate'].value_counts()['Li'])
print(f"OTooley: %{Otooley_pct}"), print(f"(105630)",
    "------------------")
print(f"Winner: Khan",
      "------------------")

Election Results ------------------
Total Votes: 3521001 ------------------
Khan: %63.00001050837531
2218231
Correy: %19.999994319797125
704200
Li: %13.999996023857989
492940
OTooley: %2.999999147969569
(105630) ------------------
Winner: Khan ------------------

In [208]:
poll_df.to_csv("analysis/main.txt", index = False)